<div class="grid">
  <div class="container">
    <h2>Login</h2>

    <form action="/login" method="POST">
      E-Mail:
      <input name="email" type="text" /><br />
      Passwort:
      <input name="passwort" type="password" /><br />
      <input type="submit" value="Anmelden" />
    </form>
    <a href="/register" class="button">Registrieren</a>
    <footer class="footer">
      <a href="/impressum">Impressum</a>
    </footer>
  </div>
</div>