<h2>Portfolio</h2>

<section id="projects" class="my-5">
  <h2>Projekte</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <img
            src="/uploads/fotos/Portrait.jpg"
            alt="Projektbild"
            class="img-fluid"
            style="max-width: 50%; border-radius: 10px;"
          />
          <p class="card-text">01.11.2024</p>
          <h3 class="card-title">Portraitbilder</h3>
          <p class="card-text">#Fotografie #Person</p>
          <a href="/portfolio" class="btn-primary">Projekt ansehen</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <div class="col-md-12 text-center mb-4">
            <img
              src="/uploads/fotos/Logo.jpg"
              alt="Projektbild"
              class="img-fluid"
              style="max-width: 50%; border-radius: 10px;"
            />
          </div>
          <p class="card-text">12.08.2024</p>
          <h3 class="card-title">Logodesign</h3>
          <p class="card-text">#Fotografie #Grafikdesign</p>
          <a href="/portfolio" class="btn-primary">Projekt ansehen</a>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <a href="/post_formular" class="btn-primary">Neues Projekt hinzufügen</a>
    </div>
  </div>

</section>