<form action="/post" enctype="multipart/form-data" method="post">
  Titel:
  <input type="text" name="title" /><br />
  Anleitung:
  <input type="text" name="description" /><br />
  Foto:
  <input type="file" name="image" /><br />
  <input type="submit" />
</form>