<div class="grid">
  <div class="container">
    <h2>Registieren</h2>

    <form action="/register" method="POST">
      Vorname:
      <input name="vorname" type="text" /><br />
      E-Mail:
      <input name="email" type="text" /><br />
      Telefonnummer:
      <input name="telefonnummer" type="text" /><br />
      Passwort:
      <input name="passwort" type="password" /><br />
      <input type="submit" value="Registrieren" />
    </form>
    <footer class="footer">
      <a href="/impressum">Impressum</a>
    </footer>
  </div>
</div>